@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
	padding: 0;
	margin: 0;
	background-color: var(--nav-arkaplan);
	display: flex;
	flex-direction: row;
	font-family: 'Fira Sans', 'Hahmlet', 'Noto Sans', sans-serif;
}

*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--nav-arkaplan: #2d7ceb;
	--arkaplan: #89c1f5;
	--nav-arkaplan-alt: #9c6eff;
	--link: #fdcbff;
	--ara-bolge: #3A9BF5
}

.erik {
	background-color: var(--arkaplan);
	width: 100%;
	min-height: 100vh;
	position: absolute;
	right: 0;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}
.erik > div {
	z-index: 1;
	height: 250px;
	width: 250px;
	position: absolute;
}

@media screen and (max-width: 1155px) {
	.erik {
		width: calc(100% - 150px);
	}
}

img{
	height: 40%;
	width: 40%;
	margin-left: 10%;
}



h1{
	color: red;
}

.a{
	margin-left: 220px;
	margin-top: 10px;
}
.b{
	margin-left: 480px;
	margin-top: 10px;
}
.c{
	margin-left: 750px;
	margin-top: 10px;
}
.d{
	margin-left: 220px;
	margin-top: 270px;
}
.e{
	margin-left: 480px;
	margin-top: 270px;
}
.f{
	margin-left: 750px;
	margin-top: 270px;
}
.g{
	margin-left: 220px;
	margin-top: 530px;
}
.h{
	margin-left: 480px;
	margin-top: 530px;
}
.j{
	margin-left: 750px;
	margin-top: 530px;
}
