@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
	padding: 0;
	margin: 0;
	background-color: var(--nav-arkaplan);
	display: flex;
	flex-direction: row;
	font-family: 'Fira Sans', 'Hahmlet', 'Noto Sans', sans-serif;
}

*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--nav-arkaplan: #2d7ceb;
	--arkaplan: #89c1f5;
	--nav-arkaplan-alt: #9c6eff;
	--link: #fdcbff;
	--ara-bolge: #3A9BF5
}

.erik {
	background-color: var(--arkaplan);
	width: 100%;
	max-height: 100%;
	min-height: 100vh;
	position: absolute;
	right: 0;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}
.erik > div {
	z-index: 1;
	height: min(25vh,25vw);
	width: min(25vh,25vw);
	position: absolute;
}


img{
	height: min(75vh,75vw);
	width: min(75vh,75vw);
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}



h1{
	color: red;
}
@media screen and (min-width: 3000px) and (min-height: 1900px ) {
	
.a{
	margin-left: 27%;
	margin-top: 7%;
}
.b{
	margin-left: 42%;
	margin-top: 7%;
}
.c{
	margin-left: 57%;
	margin-top: 7%;
}
.d{
	margin-left: 27%;
	margin-top: 22%;
}
.e{
	margin-left: 42%;
	margin-top: 22%;
}
.f{
	margin-left: 57%;
	margin-top: 22%;
}
.g{
	margin-left: 27%;
	margin-top: 37%;
}
.h{
	margin-left: 42%;
	margin-top: 37%;
}
.j{
	margin-left: 57%;
	margin-top: 37%;
}
}

@media screen and (max-width: 450px) and (max-height: 950px ) {
	
	.a{
		margin-left: 8vw;
		margin-top: 31vh;
	}
	.b{
		margin-left: 33vw;
		margin-top: 31vh;
	}
	.c{
		margin-left: 58vw;
		margin-top: 31vh;
	}
	.d{
		margin-left: 8vw;
		margin-top: 42vh;
	}
	.e{
		margin-left: 33vw;
		margin-top: 42vh;
	}
	.f{
		margin-left: 58vw;
		margin-top: 42vh;
	}
	.g{
		margin-left: 8vw;
		margin-top: 54vh;
	}
	.h{
		margin-left: 33vw;
		margin-top: 54vh;
	}
	.j{
		margin-left: 58vw;
		margin-top: 54vh;
	}
	}