@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
	min-width: 704px;
	min-height: 567px;
	padding: 0;
	margin: 0;
	background-color: var(--arkaplan);
	display: flex;
	flex-direction: row;
	font-family: 'Fira Sans', 'Hahmlet', 'Noto Sans', sans-serif;
}

*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--nav-arkaplan: #2d7ceb;
	--arkaplan: #89c1f5;
	--nav-arkaplan-alt: #9c6eff;
	--link: #fdcbff;
	--ara-bolge: #3A9BF5
}

.bölge{
	width: calc(100% - 150px);
	margin-left: 150px;
}

.erik {
	background-color: var(--arkaplan);
	min-width: 554px;
	min-height: 567px;
	height: 80%;
	position: relative;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	right: 0px;
	margin-left: 150px;
}

nav.navbar {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	bottom: 0;
	min-width: 150px;
	width: 13%;
	justify-content: space-around;
	align-items: center;
	background-color: var(--nav-arkaplan);
	padding: 20px;
	overflow-wrap: normal;
	font-size: 24px;
}

.sd{
	font-size: 20px;
}
nav.navbar a {
	margin-bottom: 2vh;
	text-decoration: none;
	color: var(--link);
	border: 3px solid --nav-arkaplan;
	border-radius: 10px;
	
}
nav.navbar a:hover{
	transition: 0.8s;
	color:whitesmoke;
}

nav.navbar a:last-of-type {
	margin-bottom: 0px;
}

nav.navbar > div {
	display: flex;
	flex-direction: column;
	overflow-wrap: normal;
	align-items: center;
	width: 100%;
	text-decoration-line: none;
	text-align: center;
}

nav.navbar > .alt {
	background-color: var(--nav-arkaplan-alt);
	border: 3px solid --nav-arkaplan-alt;
	border-radius: 10px;
}

img {
	width: 165px;
	height: 130px;
	border: 1px solid #444744;
	border-radius: 10px;
}

nav.navbar > img {
	width: 150px;
	height: 115px;
	border: 1px solid #444744;
	border-radius: 10px;

}


audio {
	width: 165px;
	height: 45px;
}

.ses {
	width: 150px;
	height: 35px;
	background-color: #fff;
	border: 3px solid #fff;
	border-radius: 20%;
	display: none;
}

.resim {
	position: relative;
	height: max-content;
	width: max-content;
	margin: 5%;
}


.poto {
	height: min-content;
	width: 60%;
	border: 1px solid #444744;
	border-radius: 500px;
	position: relative;
	min-height: 256px;
	min-width: 256px;
	z-index: 0;
	margin-top: 10px;
	max-width: 1150px;
	max-height: 1000px;
}

.aylar {
	background-color: rgb(66 161 234 / 47%);
	width: 80%;
	position: relative;
	nav-left: calc(30%-150px);
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 50px;
	margin-top: 20px;
}

.aylar > div {
	background-color: var(--ara-bolge);
	display: flex;
	flex-direction: column;
	padding: 10px 10px;
	text-align: center;
	margin: 10px;
	border: 3px solid --arkaplan;
	border-radius: 10px;
}

.aylar > .nezle > .alt {
	border: 3px solid --ara-bolge;
	border-radius: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 28px;
	width: 165px;
	background-color: #fff;
}

.salt{
	border: 3px solid --ara-bolge;
	border-radius: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 25px;
	width: 165px;
	background-color: #fff;
}

.tage{
	background-color: rgb(66 161 234 / 47%);
	width: 80%;
	position: relative;
	nav-left: calc(30%-150px);
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 50px;
	margin-top: 20px;
}

.div_tage > div{
	height: 10%;
	width: 8%;
	position: absolute;
	z-index: 1;
}


.tage_poto{

	height: min-content;
	border: 1px solid #444744;
	border-radius: 10px;
	max-width: 1000px;
	max-height: 1000px;
	position: relative;
	min-height: 250px;
	min-width: 400px;
	z-index: 0;
	
}

.mevsim{
	background-color: rgb(66 161 234 / 47%);
	width: 80%;
	position: relative;
	nav-left: calc(30%-150px);
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	border-radius: 0px;
	margin-top: 20px;
	border-radius: 50px 50px 0px 0px;
	justify-content: center;
}

.mevsim > span > div{
	height: 45%;
	width: 45%;
	position: absolute;
	z-index: 1;
}

.aylar > .baslık {
	background-color: rgb(66 161 234 / 47%);
	width: 100%;
	position: flex;
	padding: 20px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 3px solid --ara-bolge;
	border-radius: 50px;
	
}
.div_tage{
	height: 80%;
	position: relative;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	right: 0px;
	margin-top:20px;
}
.kutu{
	background-color: rgb(66 161 234 / 47%);
	width: 80%;
	position: flex;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 3px solid --ara-bolge;
	border-radius: 0px 0px 50px 50px;
	height: 100px;
	
}
.kutustili{
	border: 3px solid --ara-bolge;
	border-radius: 10px;
	font-size: 70px;
	max-height: 81px;
	background-color: #fff;
	justify-content: center;
}
.demo{
	justify-content: center;
}

.ms_tık{
	margin-top: 90px;
	position: absolute;
	width: 100%;
	height: 100%;
}
.ms_a{
	margin-top: 4%;
	margin-left: 4%;
	z-index: 2;
}
.ms_b{
	margin-top: 4%;
	margin-left: 49%;
	z-index: 2;
}
.ms_c{
	margin-top: 35%;
	margin-left: 4%;
}
.ms_d{
	margin-top: 35%;
	margin-left: 49%;
}
.div_tage > div{
	margin-left:35px;
	height: 60px;
	width: 350px;
	z-index: 1;
}
.tag_a{
	margin-top:25px;
}
.tag_b{
	margin-top:100px;
}
.tag_c{
	margin-top:175px;
}
.tag_d{
	margin-top:250px;
}
.tag_e{
	margin-top:325px;
}
.tag_f{
	margin-top:400px;
}
.tag_g{
	margin-top:465px;
}

@media (min-width:777px) {
	.erik{
		justify-content: center;
	}
}

@media (max-width: 2000px) and (min-width:1444px) {

} 

@media (max-width: 1444px) and (min-width:1025px) {

} 


@media (max-width: 1024px) and (min-width:778px) {

}

@media (max-width: 777px){

}

h1{
	color: var(--link);
	border: 3px solid --nav-arkaplan;
	border-radius: 10px;
	font-size:60px;
}
.baslık {
	background-color: rgb(66 161 234 / 47%);
	width: 100%;
	position: flex;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 3px solid --ara-bolge;
	border-radius: 50px;
	
}
nav.navbar a.sec{
	background-color: #1c4f97 ;
	color: #e6a084 ;
}