*{
    margin: 0;
    padding: 0;
    font-family: 'Mochiy Pop P One', sans-serif;
    
}
body{
    background-color:#ee826d;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1920px;
}
.nav{
    background-color: #f6675a;
    color: cyan;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    font-size: 32px;
}
.nav:first-child{
    margin-top: 1%;
}
a{
    text-decoration: none;
    color: cyan;
    padding: 1%;
    margin-top: 1%;

}
a:hover{
transition: 0.8s;
color:whitesmoke;
}
.bolum{
    margin: 3%;

    
}
.image{
    margin-right: 1%;
    margin-left: 1%;
    max-height: 290px;
    max-width: 440px;
}
audio{
    margin: 1%;
}
